{{ define "header" }}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Free CSS template by ChocoTemplates.com</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="asserts/css/images/favicon.ico" />
	<link rel="stylesheet" href="asserts/css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="asserts/css/ie6.css" type="text/css" media="all" />
		<script src="asserts/js/png-fix.js" type="text/javascript"></script>
	<![endif]-->
	<script src="asserts/js/jquery-1.4.2.js" type="text/javascript"></script>
	<script src="asserts/js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="asserts/js/jquery.flot.min.js" type="text/javascript"></script>
	<script src="asserts/js/js-func.js" type="text/javascript"></script>
	<script src="asserts/js/script.js" type="text/javascript"></script>
</head>
<!-- Header -->
<body>
<div id="header">
	<div class="shell">
		<h1 id="logo" class="notext"><a href="#"></a></h1>
		<div id="navigation">
			<ul>
			    <li><a href="#" class="active">Обзор</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- End Header -->

{{ end }}